        /* Font */

@font-face
{
	font-family: 'Titres';
	src: url('./AnironTitres/anicb.ttf') format('truetype');
}

@font-face
{
	font-family: 'AutourTitres';
	src: url('./annatarautourtitres/tngani.ttf');
}

@font-face
{
	font-family: 'Textebase';
	src: url('./Policetextes/partybusiness.ttf');
}

        /* Style de texte */
p
{
  	font-family: 'Textebase';
  	color: rgb(65, 66, 68);
}

h1, h2, h3, h4, header a, ul
{
	font-family: 'Titres';
}

header a
{
	font-size: 12px;

}

a:hover
{
	color: rgb(242, 141, 33);
}

.pills
{
	color: rgb(65, 66, 68);
}

p
{
	text-align: justify;
}

h2
{
	font-weight: 500;
	font-size: 25px;
}

.h2b
{
	color: rgb(0, 0, 0);
}

.h2w
{
	color: rgb(255, 255, 255);
}
.Autour
{
	font-family: 'AutourTitres';
}

.blanc
{
  	color: rgb(255, 255, 255);
}

.underl
{
	text-decoration: underline;
	color: rgb(242, 141, 33);
}
      /* hr */
hr 
{
	width:400px;
	color: rgb(255, 115, 0);
}


      /* Navbar */
nav
{
	background-color: rgb(255, 115, 0);
}

.borderr
{
	border-right: solid white;
}

footer
{
	background-color: rgb(255, 115, 0);
}

footer a 
{
	text-decoration: none;
	color: white;
}

	/* Background */
.bglight
{
	background-image: url('https://image.noelshack.com/fichiers/2019/09/7/1551625510-bg-light.png');
}

.bgdark
{
	background-image: url('https://image.noelshack.com/fichiers/2019/09/7/1551626521-bg-dark.png');
}


		/* Fellows */

      /* Photo relous */
.nomfam
{
	font-family: 'Textebase';
}

.relative
{
	position: relative;
	text-align: center;
}

.orange
{
	color: rgb(242, 141, 33);
}
.absoNom
{
	color: white;
  	font-size: 50px;
  	margin-top:40%;
}

.absolutephoto
{
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

.boxhoverGa
{
  	display: inline-block;
}

.boxhoverPi
{
  	display: inline-block;
}

.boxhoverGi
{
  	display: inline-block;
}

.rewardGim
{
	margin-top: 10px;
	padding: 15px 10px 15px 10px; 
	color: rgb(242, 141, 33);
	font-size: 50px;
}
.reward
{
	background: rgba(255, 255, 255, 0.7);
	border-radius: 10px;
	padding: 15px 10px 15px 10px; 
	margin-top: 10px;
	font-size: 30px;
}

.bgblack
{
	background-color: rgb(0,0,0);
}

  /* Hover */

.relative:hover .reward 
{
    display: none;
}

.relative:hover .rewardGim 
{
    display: none;
}

.relative:hover .absoNom 
{
	font-size: 30px;
	margin-top: 90%;
}

.relative:hover .absolutephoto
{
  	background-color: rgba(255, 255, 255, 0)
}
		/* sous-titres */
.grandst
{
	font-size: 28px;
}


.petith21
{
	font-size: 1em;
}
.petith2
{
	font-size: 0.7em;
}


      /* About the ring */

table 
{
	border-width: 2px; 
	border-style: solid; 
	width:90%;
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	margin-bottom: 10px;
 }

td, th
{ 
	border-width: 2px;
	border-style: solid;
	border-color: black;
	width:50%;
	padding: 10px;
	font-size: 0.8em;

 }

th
{
	background-color: rgb(179, 179, 179);
	color: rgb(230, 230, 230);
}

.greytable
{
	background-color: rgb(230, 230, 230);
}

		/* Footer */
footer ul
{
	list-style-type: none;
}


