/* Font */
@font-face
{
	font-family: 'BungeeInline';
	src: url('../fonts/BungeeInline/BungeeInline-Regular.ttf');
}

@font-face
{
	font-family: 'ethnocentric';
	src: url('../fonts/ethnocentric/ethnocentric-rg.ttf');
}

@font-face
{
	font-family: 'caviarDreams';
	src: url('../fonts/caviarDreams/CaviarDreams.ttf');
}

/* screen */
@media screen and (max-width: 576px) {
	.modal-content {
		width: 90% !important;
	}
}

@media screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}

	.col-sm-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-sm-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-sm-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}

	.col-md-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-md-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-md-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}

	.col-lg-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-lg-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-lg-6:hover {
		z-index: 2;
	}
	.col-lg-12 {
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

	.col-xl-4 {
		flex: 0 0 33.33%;
		max-width: 33.33%;
	}
	.col-xl-6 {
		flex: 50%;
		max-width: 50%;
	}
	.col-xl-12 {
		flex: 100%;
		max-width: 100%;
	}
}

/* Title */
h1, h2, h3, h4, h5, h6 {
	font-family: 'ethnocentric';
	font-weight: 100;
	margin-top: 0;
	margin-bottom: 0.5rem;
	line-height: 1.2;
}

h2 {
	font-size: 2em;
}

/* margin */
.mt-1 {
	margin-top: 0.25rem !important;
}

.mt-2 {
	margin-top: 0.5rem !important;
}

.mt-3 {
	margin-top: 1rem !important;
}

.mt-4 {
	margin-top: 1.5rem !important;
}

.mt-5 {
	margin-top: 3rem !important;
}

.mb-1 {
	margin-bottom: 0.25rem !important;
}

.mb-2 {
	margin-bottom: 0.5rem !important;
}

.mb-3 {
	margin-bottom: 1rem !important;
}

.mb-4 {
	margin-bottom: 1.5rem !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

/* Padding */
.pt-1 {
	padding-top: 0.25rem !important;
}

.pt-2 {
	padding-top: 0.5rem !important;
}

.pt-3 {
	padding-top: 1rem !important;
}

.pt-4 {
	padding-top: 1.5rem !important;
}

.pt-5 {
	padding-top: 3rem !important;
}

.pb-1 {
	padding-bottom: 0.25rem !important;
}

.pb-2 {
	padding-bottom: 0.5rem !important;
}

.pb-3 {
	padding-bottom: 1rem !important;
}

.pb-4 {
	padding-bottom: 1.5rem !important;
}

.pb-5 {
	padding-bottom: 3rem !important;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
	font-size: 1.1em;
}

/* Button */
button {
	font-family: 'ethnocentric';
	font-weight: 100;
    	font-size: 0.9em;
}

.btn-main {
	position: relative;
	line-height: 30px;
	border: none;
	background: linear-gradient(0deg, #0000002e 0%, #2e2e2e 100%);
    	color: #ffffff;
	border-radius: 2px;
	cursor: pointer;
}
.btn-main:hover {
	color: #171717;
	background: transparent;
	box-shadow: none;
}
.btn-main:before,
.btn-main:after{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: #171717;
	box-shadow: -1px -1px 5px 0px #000000,
	7px 7px 20px 0px #ffffff33,
	4px 4px 5px 0px #ffffff33;
	transition:400ms ease all;
}
.btn-main:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.btn-main:hover:before,
.btn-main:hover:after{
	width: 100%;
	transition: 800ms ease all;
}

/* img */
img {
    vertical-align: middle;
    border-style: none;
}

/* Body */
body {
	margin: 0;
	background-color: #e9e9e9;
	color: #2a2a2a;
	font-family: 'caviarDreams';
	font-weight: 600;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.modal {
	position: fixed;
	z-index: 3;
	padding-top: 75px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	overflow-x: hidden;
	background-color: #00000099;
}

.modal.fade-in {
	animation: modalFadeIn 0.5s;
}
@keyframes modalFadeIn {
	0% {
	  background-color:transparent;
	}
	100% {
	  background-color:#00000099;
	}
}

.modal.fade-out {
	animation: modalFadeOut 0.5s;
}
@keyframes modalFadeOut {
	0% {
	  background-color:#00000099;
	}
	100% {
	  background-color:transparent;
	}
}

.modal-content {
	background-color: #fefefe;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	min-height: 70%;
	background-size: cover;
	background-repeat: no-repeat;
}

.modal-content.move-up {
	animation: moveUp 0.5s;
}
@keyframes moveUp {
	0% {
		transform:scale(0.5);
	}
	100% {
		transform:scale(1);
	}
}

.modal-content.move-down {
	animation: moveDown 0.5s;
}
@keyframes moveDown {
	0% {
		transform:scale(1);
	}
	100% {
		transform:scale(0);
	}
}

.modal-title {
	font-family: "BungeeInline";
    	text-align: center;
}

.close {
	float: right;
	cursor: pointer;
	font-size: 1em;
	transition: all 0.3s ease-out;
	width: 28px;
	height: 28px;
	font-family: 'Font Awesome 6 Brands';
	border-radius: 50%;
	border: 2px solid transparent;
}

.close:hover {
	-webkit-transform: scale(0.8) rotateZ(90deg);
	border-radius: 50%;
	border: 2px solid;
}

.hold-loader {
/* 	background: url(../img/loader.gif) center center no-repeat; */
}

.hold-loader iframe {
	-moz-transform: scale(0.75);
	-ms-zoom: 0.75;
	-moz-transform: scale(0.75);
	-moz-transform-origin: 0 0;
	-o-transform: scale(0.75);
	-o-transform-origin: 0 0;
	-webkit-transform: scale(0.75);
	margin-left: -15%;	
}

.loader-container {
	width: 100%;
	height: 400px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	border: 30px solid;	
	border-radius: 50%;
	display: inline-block;
}
.loader.light {
	-webkit-animation: animloader 1s linear infinite;
	animation: animloader 1s linear infinite;
}
.loader.dark {
	-webkit-animation: animloader1 1s linear infinite;
	animation: animloader1 1s linear infinite;
}
@keyframes animloader {
	0% { 
		border-color: rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75);
	}
	33% { 
		border-color: rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35);
	}
	66% {
		border-color: rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0.25);
	}
	100% { 
		border-color: rgba(255, 255, 255, 0.25) rgba(255, 255, 255, 0.35) rgba(255, 255, 255, 0.75) rgba(255, 255, 255, 0.15);
	}
}
@keyframes animloader1 {
	0% { 
		border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75);
	}
	33% { 
		border-color: rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35);
	}
	66% {
		border-color: rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
	}
	100% { 
		border-color: rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.35) rgba(0, 0, 0, 0.75) rgba(0, 0, 0, 0.15);
	}
}

.hidden {
	display: none !important;
}

.text-center {
	text-align: center;
}

.darkmode {
	background-color: #2a2a2a !important;
	color: #d6d6d6 !important;
}

.blurp {
	display: inline-block;
	-webkit-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.blurpMove {
	-webkit-animation-name: blurpMove;
	animation-name: blurpMove;
	color: #9acd32 !important;
}
@keyframes blurpMove {
	0% {-webkit-transform:translate(1, 1, 1);transform:scale3d(1, 1, 1)}
	30% {-webkit-transform:scale3d(1.25, 0.75, 1);transform:scale3d(1.25, 0.75, 1)}
	40% {-webkit-transform:scale3d(0.75, 1.25, 1);transform:scale3d(0.75, 1.25, 1)}
	50% {-webkit-transform:scale3d(1.15, 0.85, 1);transform:scale3d(1.15, 0.85, 1)}
	65% {-webkit-transform:scale3d(0.95, 1.05, 1);transform:scale3d(0.95, 1.05, 1)}
	75% {-webkit-transform:scale3d(1.05, 0.95, 1);transform:scale3d(1.05, 0.95, 1)}
	100% {-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}
}
@-webkit-keyframes blurpMove {
	0% {-webkit-transform:translate(1, 1, 1);transform:scale3d(1, 1, 1)}
	30% {-webkit-transform:scale3d(1.25, 0.75, 1);transform:scale3d(1.25, 0.75, 1)}
	40% {-webkit-transform:scale3d(0.75, 1.25, 1);transform:scale3d(0.75, 1.25, 1)}
	50% {-webkit-transform:scale3d(1.15, 0.85, 1);transform:scale3d(1.15, 0.85, 1)}
	65% {-webkit-transform:scale3d(0.95, 1.05, 1);transform:scale3d(0.95, 1.05, 1)}
	75% {-webkit-transform:scale3d(1.05, 0.95, 1);transform:scale3d(1.05, 0.95, 1)}
	100% {-webkit-transform:scale3d(1, 1, 1);transform:scale3d(1, 1, 1)}
}

.logo {
	width: 3em;
}
.logo-invert {
	filter: invert();
}

.darkmode-switch {
	font-size: 1.5em;
	cursor: pointer;
}

li.nav-item.active.borderr {
	padding: 0.5rem 1rem;
}

li.nav-item.active.borderr:hover {
	background: rgb(214, 214, 214);
	color: #191919 !important;
}

/* navbar */
.navbar {
	font-family: 'ethnocentric';
	font-weight: 100;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0.5rem 1rem;
}

.navbar>.container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.navbar .col {
	flex-basis: 0;
}

/* Project */
.project-block {
	border-radius: 10px;
	height: 200px;
	line-height: 200px;
	transition: transform .3s;
	box-shadow: 0px 0px 10px 0px;
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "BungeeInline";
	text-align: center;
}

.project-block:hover {
	-ms-transform: scale(1.08);
	-webkit-transform: scale(1.08);
	transform: scale(1.08);
}

.project-content {
	line-height: initial;
	display: inline-block;
	font-family: 'caviarDreams';
	vertical-align: middle;
	padding: 10px;
}

.logo-language {
	font-size: 1.5em;
}
.fa-html5 {
	color: #d74a24;
}
.fa-css3-alt {
	color: #3491cb;
}
.fa-php {
	color: #7175aa;
}
.fa-square-js {
	color: #ead41c;
}
.fa-vuejs {
	color: #49b180
}
.adaptative-icon {
	margin-bottom: -2px;
	border-radius: 3px;
	width: 22px;
	height: 22px;
	background-size: cover;
	background-repeat: no-repeat;
	display: inline-block;
}
.jquery-img {
	background-image: url(../img/jquery_logo.png);
}
.tcdb-img {
	background-image: url(../img/theCocktailDB_logo.png);
}

.webils-content {
	color: #2a2a2a !important;
}

.biskit-content, .shakerclub-content, .fm-content {
	color: #d6d6d6 !important;
}

.webils-block {
	background-color: #ededed;
}

.shakerclub-logo, .biskit-logo {
	font-size: 2.7em;
	font-weight: 100;
}

.fm-logo, .webils-logo {
	max-width: 150px;
	max-height: 100px;
}

.shakerclub-logo {
	color: #f0a637;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #f0a637, 0 0 35px #f0a637, 0 0 40px #f0a637, 0 0 50px #f0a637, 0 0 75px #f0a637;
}

.biskit-logo {
	color: #42c52e;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #42c52e, 0 0 35px #42c52e, 0 0 40px #42c52e, 0 0 50px #42c52e, 0 0 75px #42c52e;
}

/* footer */
.logo-contact-pro a {
	color: inherit;
	font-size: 1.5em;
}

.small-text-footer {
	font-size: 0.5em;
}

.link-none {
	color: inherit;
	text-decoration: none;
}

.link-none:hover {
	color: inherit;
	text-decoration: none;
}

.made-by {
	font-family: 'ethnocentric';
	font-weight: 100;
}
